@{
    ViewBag.Title = "DataSetting";
}

<h2>DataSetting</h2>
<ul>
    <li>
        @Html.ActionLink("客户", "Index", "Client")
    </li>
    <li>
        @Html.ActionLink("公积金类型", "Index", "AccumulationType")
    </li>
    <li>
        @Html.ActionLink("证件类型", "Index", "Certificate")
    </li>
    <li>
        @Html.ActionLink("城市", "Index", "City")
    </li>
</ul>
