@{
    ViewBag.Title = "DataSetting";
}

<h2>DataSetting</h2>
<ul>
    <li>
        @Html.ActionLink("客户", "HRAdminClientIndex", "Client", "", "")
    </li>
</ul>
<ul>
    <li>
        @Html.ActionLink("客户资料", "Index", "Document", "", "")
    </li>
    <li>
        @Html.ActionLink("客户参保城市资料", "Index", "ClientPensionCityDocument", "", "")
    </li>
    <li>
        @Html.ActionLink("客户保险类型", "Index", "Assurance", "", "")
    </li>
</ul>
