@{
    ViewBag.Title = "忘记密码";
}

<h2>忘记密码</h2>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>忘记密码</legend>
        <ol>
            <li>
                @Html.Label("用户名", new { @for = "UserName" })
                @Html.TextBox("UserName")
                <span style="color: red;">@TempData["Message"]</span>
            </li>
        </ol>
        <input type="submit" value="重置密码" />
    </fieldset>
}
