@model IEnumerable<OB.Models.User>

@{
    ViewBag.Title = "HRList";
}

<h2>HRList</h2>

<p>
    @Html.ActionLink("Create New", "CreateHR")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
    }

</table>
