@model OB.Models.ClientPensionCityDocument
<div class="display-label">
    @Html.DisplayNameFor(model => model.PensionCityId)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.PensionCity.Name)
</div>
