@model IEnumerable<FrameLog.History.IChange<Client, User>>

@{
    ViewBag.Title = "History";
}

<h2>History</h2>
@foreach (var item in Model)
{
    <div>@item.Author</div>
    <div>@item.Timestamp</div>
    <div>@item.Value.DisV</div>

}