@model IEnumerable<FrameLog.History.IChange<Client, User>>

@{
    ViewBag.Title = "History";
}

<h2>History</h2>
@foreach (var item in Model)
{
    <div>@item.Author</div>
    <div>@item.Timestamp</div>
    <div>@item.Value.DisV</div>
    var change = item.Value;
    foreach (System.ComponentModel.PropertyDescriptor descriptor in System.ComponentModel.TypeDescriptor.GetProperties(change))
    {
        string name = descriptor.Name;
        object value = descriptor.GetValue(change);
    <div>@string.Format("{0}={1}", name, value)</div>
    }
}