@model OB.Models.Document
<div class="display-label">
    @Html.DisplayNameFor(model => model.Name)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Name)
</div>
<div class="display-label">
    @Html.DisplayNameFor(model => model.Weight)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Weight)
</div>
