@model OB.Models.Employee

@{
    ViewBag.Title = "员工详情";
}

<h2>@ViewBag.Title</h2>

@Html.Action("EmployeeDetail", "Employee", new { id = Model.Id })

<div>
    @Html.ActionLink("Back to List", "HREmployeeIndex")
</div>
