<?xml version="1.0" encoding="utf-8"?>
<!--
您 Web 项目的发布/打包进程将使用此文件。您可以通过编辑此 MSBuild 文件
来自定义该进程的行为。若要了解与此相关的详细信息，请访问 http://go.microsoft.com/fwlink/?LinkID=208121。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>http://10.211.55.5</MSDeployServiceURL>
    <DeployIisAppPath>OB</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>RemoteAgent</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>Administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="OB.Models.DAL.OBContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="OB.Models.DAL.OBContext, OB" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="OB" Order="3" Enabled="False">
          <Destination Path="Data Source=localhost;Initial Catalog=OB;Integrated Security=True;User ID=sa;Password=Clps2013" Name="Data Source=localhost;Initial Catalog=OB;User ID=sa;Password=Clps2013; Initial Catalog=OB; Integrated Security=True; MultipleActiveResultSets=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=localhost;Initial Catalog=OB;Integrated Security=True;User ID=sa;Password=Clps2013" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\OB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=localhost;Initial Catalog=OB;User ID=sa;Password=Clps2013; Initial Catalog=OB; Integrated Security=True; MultipleActiveResultSets=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)OB-Web.config Connection String">
      <ParameterValue>Data Source=localhost;Initial Catalog=OB;User ID=sa;Password=Clps2013; Initial Catalog=OB; Integrated Security=True; MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)OB.Models.DAL.OBContext-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="OB.Models.DAL.OBContext" />
  </ItemGroup>
</Project>